body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.mainBox {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 6px;
    text-align: center;
}

.sec {
    margin-top: 25px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #007bff;
    color: white;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
}
